.App {
  height: 100vh;
  top: 50px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.ul-header {
  margin-top: 0px;
  margin-bottom: 2.5em;
  text-align: right;
  font-size: calc(5px + 2vmin);
  list-style-type: none;
  color: white;
  padding: 10px;
}

.main-text {
  text-align: center;
  text-shadow: 3px 4px #000000;
  align-items: center;
  justify-content: center;
  font-size: calc(75px + 2vmin);
  color: white;
}

.ul-menu {
  margin-top: -55px;
  text-align: center;
  font-size: calc(15px + 2vmin);
  list-style-type: none;
  color: white;
}

.ul-menu li {
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-right: 55px;
}

.ul-menu li a {
  z-index: 100;
  color: inherit;
  text-decoration: none;
}

.ul-menu li a:hover {
  z-index: 100;
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}