.video {
  margin-top: -1px;
  position: absolute;
  left: 50%;
  top: 50%;
  object-fit: cover;
  /* The following will size the video to fit the full container. Not necessary, just nice.*/
  min-height: 100%;
  min-width: 100%;
  width: 100vw;
  height: 100vh;
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -100;
}

.audio {
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center; 
  margin-top: -1em;
  margin-bottom: -1em;
}

.ul-header {
  margin-top: 0px;
  margin-bottom: 3.5em;
  text-align: right;
  font-size: calc(5px + 2vmin);
  list-style-type: none;
  color: white;
  padding: 0px;
}

.socials {
  margin-top: 0px;
  margin-bottom: 3.5em;
  text-align: right;
  font-size: calc(5px + 2vmin);
  list-style-type: none;
  color: white;
  padding: 35px;
}

.main-text {
  text-align: center;
  text-shadow: 3px 4px #000000;
  align-items: center;
  justify-content: center;
  font-size: calc(75px + 2vmin);
  color: #F4D504;
}

.main-button {
  position: relative;
  margin-top: 1em;
  text-align: center;
  align-items: center;
  text-shadow: 3px 4px #000000;
  justify-content: center;
  color: #F4D504;
}

.ul-menu {
  text-align: center;
  font-size: calc(15px + 2vmin);
  list-style-type: none;
  color: white;
}

.ul-menu li {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.ul-menu li a {
  z-index: 100;
  color: inherit;
  text-decoration: none;
}

.ul-menu li a:hover {
  z-index: 100;
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

.about {
  color: #ffffff;
  font-size: x-large;
  font-weight: 400;
}

.footer{
  width: 100%;
  position: fixed;
  bottom: 3%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: medium;
  font-weight: 400;
}